.welcome-card {
    margin-left: auto;
    margin-right: auto;
    ion-img {
      overflow: hidden;
    }
    ion-card-header {
      margin: auto;
    }
    ion-card-content {
      margin: auto;
    }
  }