<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/type-of-login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse como cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registrate como cliente para encontrar profesionales NICARAGUENSES dispuestos a ofrecerte un
          amplio ramo de servicios multiple!
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-row>


  <form (ngSubmit)="signup(SignupForm.value)" [formGroup]="SignupForm">
    <ion-item>
      <ion-label color="primary" position="stacked">Correo Electronico</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="stacked">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="stacked">Primer Nombre</ion-label>
      <ion-input type="text" formControlName="userName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="stacked">Primer Apellido</ion-label>
      <ion-input type="text" formControlName="userLastname"></ion-input>
    </ion-item>
    
    <ion-item>
      Ya tienes una cuenta?&nbsp;&nbsp;
      <a href='/login'>Inicia sesion</a>
    </ion-item>

    <ion-button type="submit" expand="block" shape='round' color="success" [disabled]="!SignupForm.valid">Registrarse
    </ion-button>
  </form>

</ion-content>