<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <app-logo></app-logo>
      <h2>Bienvenido a Servicios Nicas!</h2>
      <p>La primera app nicaraguense en conectarte con personas verificadas para brindarte todos los servicios que tu necesites.</p>
    </ion-slide>
    <ion-slide>
      <h2>Contrate servicios de calidad!</h2>
    </ion-slide>
    <ion-slide>
      <h2>Tenemos desde un corte de pelo hasta la construccion de un edificio!</h2>
    </ion-slide>
  </ion-slides>
</ion-content>