.contcenter {
  text-align: center;
  padding-top: 20px;
}

form {
  height: 90%;
  width: 100%;
}

.btncenter {
  width: 100%;
  display: block;
}

ion-title {
  color: white;
  font-size: 17px;
}

.btnregistercolstyle {
  float: none;
  margin: auto;
  text-align: center;
}
