<ion-header>
  <ion-toolbar color="primary" class="center">
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getServices($event)"></ion-searchbar>
 
  <ion-list>
    <ion-item *ngFor="let item of nicaService">
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/nicaBandera.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>{{item.titulo}}</h2>
        <p>{{item.descripcion}}</p>
        <p>{{item.NombreProfesional}}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="editService()">Ver</ion-button>
    </ion-item>
  </ion-list>
  
    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addService()">
        <ion-icon name="add-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
</ion-content>
