<ion-header>
  <ion-toolbar color="secondary" class="center">
    <ion-title >NicaServicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-menu">
    <a href="/signup">
      <div class="container">
        <img src="assets\images\solicitantes.jpg" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <div class="text">Registrate como solicitante</div>
        </div>
      </div>
    </a>
    <a href="/signuppro">
      <div class="container">
        <img src="assets\images\profesionales.jpg" alt="Avatar" class="image" style="width:100%">
        <div class="middle">
          <div class="text">Registrate como profesional</div>
        </div>
      </div>
    </a>
  </div>
</ion-content>