//estilos del menu

.vertical-menu {
  width: 100%;
  height: 100%;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  width: 100%;
  height: 50%;
}
//estilos de la imagen con efecto

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 0.3;
}

.middle {

  // transition: 0.5s ease;
  // opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
 transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
  text-align: center;
}

//  //.container:hover .image {
//    opacity: 0.3;
//  }

.container:hover .middle {
    opacity: 0.50;
  }

.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
