<ion-header>
      <ion-toolbar color="secondary" class="center">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/type-of-login"></ion-back-button>
        </ion-buttons>
            <ion-title>Iniciar Sesion</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contcenter">
    <app-logo></app-logo>
    <h3>Inicia Sesion en MultiServiciosApp</h3>
  </div>

  <form (ngSubmit)="login(LoginForm.value)" [formGroup]="LoginForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Paassword</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        No tienes una cuenta?&nbsp;&nbsp;
        <a href='/type-of-login'>Registrate</a>
      </ion-item>
      <ion-button type="submit" expand="block" shape='round' color="success" [disabled]="!LoginForm.valid">Iniciar Sesion</ion-button>
    </ion-list>
  </form>
</ion-content>