<ion-header>
  <ion-toolbar color="primary" class="center">
    <ion-title>Agregar un nuevo servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary" position="stacked">Nombre del Servicio</ion-label>
      <ion-input type="text" placehorder="Ej: Jardineria"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Descripcion del servicio</ion-label>
      <ion-input type="text" placehorder="Ej: Jardineria"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" shape='round' color="success" (click)="addService()">Guardar Servicio</ion-button>
</ion-content>