<ion-header>
  <ion-toolbar color="primary" class="center">
    <ion-title>Agregar un nuevo servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="addService(serviceForm.value)" [formGroup]="serviceForm">

    <ion-list>

      <ion-item>
        <ion-label color="primary" position="stacked">Nombre del Servicio</ion-label>
        <ion-input type="text" placehorder="Ej: Jardineria" formControlName="nombreServicio" ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label color="primary" position="stacked">Descripcion del servicio</ion-label>
        <ion-input type="text" placehorder="Ej: Jardineria" formControlName="descripcionServicio" ></ion-input>
      </ion-item>

    <ion-item>
      <ion-label color="primary" position="stacked">Profesional</ion-label>
      <ion-input type="text" formControlName="idProfesional" ></ion-input>
    </ion-item>
  </ion-list>
  <input type="submit" class="btn--blue btn--add" [disabled]="!serviceForm.valid" value="Agregar">
  </form>

</ion-content>