<ion-header>
  <ion-toolbar color="primary" class="center">
    <ion-title>Agregar servicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="addService(serviceForm.value)" [formGroup]="serviceForm">

    <ion-list>

      <ion-item>
        <ion-label color="primary" position="stacked">Nombre del Servicio</ion-label>
        <ion-input type="text" placehorder="Ej: Jardineria" formControlName="nombreServicio"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">Descripcion del servicio</ion-label>
        <ion-input type="text" placehorder="Ej: Jardineria" formControlName="descripcionServicio"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">Profesional</ion-label>
        <ion-input type="text" formControlName="idProfesional"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" [disabled]="!serviceForm.valid">
      <ion-icon name="save-outline"></ion-icon>
      &nbsp; Crear nuevo servicio
    </ion-button>
  </form>

</ion-content>