<ion-header>
  <ion-toolbar color="primary" class="center">
    <ion-title>Agregar servicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form style="height: 90%;" (ngSubmit)="addService(serviceForm.value)" [formGroup]="serviceForm">

    <ion-list>
      
      <ion-input type="hidden" formControlName="userUid"></ion-input>
      
      <ion-item>
        <ion-label color="primary" position="stacked">Nombre del Servicio</ion-label>
        <ion-input type="text" placehorder="Ej: Jardineria" formControlName="nombreServicio"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">Descripcion del servicio</ion-label>
        <ion-input type="text" placehorder="Ej: Jardineria" formControlName="descripcionServicio"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="stacked">Profesional</ion-label>
        <ion-input type="text" formControlName="idProfesional"></ion-input>
      </ion-item>
    </ion-list>

    <ion-item>
    </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Mapa</ion-card-subtitle>
      <ion-button (click)="saveCurrentPosition()" style="width: 98%;">
        <ion-text>Deseas guardar tu ubicacion actual?
          <ion-icon name="download-outline"></ion-icon></ion-text>
      </ion-button>
    </ion-card-header>
  
    <ion-card-content id="map">
      
    </ion-card-content>
  </ion-card>

  <ion-button style="width: 100%;" type="submit" [disabled]="!serviceForm.valid">
    <ion-icon name="save-outline"></ion-icon>
    &nbsp; Crear nuevo servicio
  </ion-button>

</form>
</ion-content>