<ion-header>
  <ion-toolbar color="primary" class="center">
    <ion-title>Editar servicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form (ngSubmit)="editService(editServiceForm.value)" [formGroup]="editServiceForm">

    <ion-list>

      <ion-item ngFor="let item of services">
        
        <input type="hidden" formControlName="id">

        <ion-label color="primary" position="stacked">Nombre del Servicio</ion-label>
        <ion-input type="text" placehorder="Ej: Jardineria" formControlName="nombreServicio"></ion-input>
     
        <ion-label color="primary" position="stacked">Descripcion del servicio</ion-label>
        <ion-input type="text" placehorder="Ej: Jardineria" formControlName="descripcionServicio"></ion-input>
     
        <ion-label color="primary" position="stacked">Profesional</ion-label>
        <ion-input type="text" formControlName="idProfesional"></ion-input>
      </ion-item>

    </ion-list>
  </form>

</ion-content>